@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap";

@font-face {
	font-family: 'BwSurcoDEMO-Bold';
	src: url("../fonts/bws_bold.eot");
	src: url("../fonts/bws_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/bws_bold.woff") format("woff"), url("../fonts/bws_bold.ttf") format("truetype");
}
@font-face {
	font-family: 'BwSurcoDEMO-Medium';
	src: url("../fonts/bws_medium.eot");
	src: url("../fonts/bws_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/bws_medium.woff") format("woff"), url("../fonts/bws_medium.ttf") format("truetype");
}
@font-face {
	font-family: 'arson_pro_light';
	src: url("../fonts/arson_light.otf");
}
@font-face {
	font-family: 'Arson_Pro_Medium';
	src: url("../fonts/Arson_Pro_Medium.otf");
}
@font-face {
	font-family: 'GothaProBol';
	src: url("../fonts/GothaProBol.otf");
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.container {
	width: 100%;
	max-width: 1560px;
	margin: 0 auto;
}
.main_wrapper {
	background-image: url(../images/main_bg.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	max-width: 1920px;
	height: 100%;
}
.logo {
	background-size: contain;
	background-repeat: no-repeat;
}
.title_block {
	font-size: 69px;
	font-family: 'BwSurcoDEMO-Bold', sans-serif;
	color: #433534;
	line-height: 1.306;
}
.pride_block {
	padding-top: 116px;
}
.pride_block__content {
	width: 100%;
	max-width: 1270px;
	margin: 0 auto;
}
.pride_block__top_content {
	width: 300px;
}
.pride_block__logo {
	background-image: url(../images/header_logo.png);
	width: 120px;
	height: 32px;
}
.pride_block__text {
	font-size: 24px;
	font-family: 'BwSurcoDEMO-Medium', sans-serif;
	color: #433534;
	line-height: 1;
	margin-top: 27px;
}
.pride_block__main_title {
	font-size: 95px;
	font-family: 'BwSurcoDEMO-Bold', sans-serif;
	color: #ce4d4a;
	text-align: left;
	line-height: 1;
	letter-spacing: -2px;
	margin: 167px 0 55px;
	width: 100%;
	max-width: 540px;
}
.pride_block__main_descr {
	font-size: 24px;
	font-family: 'arson_pro_light', sans-serif;
	color: #433534;
	line-height: 1.5;
	width: 290px;
}
.pride_block__attention_block {
	font-size: 24px;
	font-family: 'arson_pro_light', sans-serif;
	color: #433534;
	line-height: 1.5;
	text-align: center;
	position: relative;
	padding: 129px 100px 115px;
	margin: 480px auto 0;
	background-color: #f5edd5;
	&::before {
		position: absolute;
		content: "";
		background-image: url(../images/petals.png);
		background-repeat: no-repeat;
		width: 225px;
		height: 175px;
		top: -81px;
		left: 450px;
	}
}
.join_block {
	margin-bottom: 175px;
}
.join_block__title {
	margin-left: 142px;
	margin-top: 165px;
	width: 100%;
	max-width: 800px;
	letter-spacing: -1px;
}
.join_block__list {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 168px;
}
.join_block__item {
	width: 300px;
	&:first-child {
		margin-left: 80px;
		margin-right: 75px;
	}
	&:nth-child(3) {
		margin: 0 92px;
		>.join_block__item__logo {
			img {
				margin-top: 15px;
			}
		}
	}
	&:last-child {
		>.join_block__item__logo {
			img {
				width: 185px;
			}
		}
	}
}
.join_block__item__logo {
	height: 210px;
	img {
		width: 160px;
	}
}
.join_block__item__text {
	font-size: 24px;
	font-family: 'arson_pro_light', sans-serif;
	color: #433534;
	line-height: 1.5;
	margin-top: 15px;
}
.learn_block {
	background-image: url(../images/learn_bg.jpg);
	background-size: contain;
	margin-bottom: 429px;
}
.learn_block__content {
	width: 100%;
	max-width: 1529px;
	margin: 0 auto;
	background-color: #f0d6d6;
	box-shadow: 6.359px 10.177px 240px 10px rgba(101, 82, 82, 0.23);
	position: relative;
	&::before {
		position: absolute;
		content: '';
		background-repeat: no-repeat;
		background-image: url(../images/petals.png);
		width: 225px;
		height: 175px;
		bottom: -57px;
		left: -45px;
	}
	&::after {
		position: absolute;
		content: '';
		background-repeat: no-repeat;
		background-image: url(../images/learn_block_petals_tp.png);
		top: -59px;
		right: -68px;
		width: 265px;
		height: 355px;
	}
	.title_block {
		margin-left: 127px;
		padding-top: 167px;
		letter-spacing: -1px;
	}
}
.learn_block__lists {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 110px;
	ul {
		width: 100%;
		max-width: 575px;
		margin-bottom: 135px;
		&:first-child {
			margin: 0 205px 0 114px;
		}
		&:last-child {
			max-width: 505px;
		}
	}
	li {
		font-size: 24px;
		font-family: 'arson_pro_light', sans-serif;
		color: #433534;
		line-height: 1.5;
		margin-bottom: 80px;
		padding-left: 15px;
	}
}
.leading_block {
	background-color: #eae5ef;
	margin-bottom: 200px;
}
.leading_block__content {
	display: flex;
}
.leading_block__left {
	width: 100%;
	max-width: 877px;
	position: relative;
	img {
		position: absolute;
		top: -92px;
		left: 14px;
	}
}
.leading_block__right {
	width: 100%;
	max-width: 665px;
	position: relative;
	padding-bottom: 77px;
	.title_block {
		position: absolute;
		top: -258px;
		left: -85px;
		width: 100%;
		max-width: 490px;
	}
}
.leading_block__name {
	font-size: 46px;
	font-family: 'BwSurcoDEMO-Bold', sans-serif;
	color: #433534;
	line-height: 2.418;
	text-align: left;
	margin-top: 93px;
	margin-left: -26px;
	letter-spacing: -1px;
}
.leading_block__list {
	margin: 44px 0 0 32px;
}
.leading_block__item {
	font-size: 24px;
	font-family: 'arson_pro_light', sans-serif;
	color: #433534;
	line-height: 1.5;
	margin-bottom: 37px;
	padding-left: 15px;
}
.program_block {
	background-image: url(../images/table_bg.png);
	background-repeat: no-repeat;
	background-position: right;
	padding: 70px 0 264px;
}
.program_block__content {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.program_block__left {
	width: 100%;
	max-width: 535px;
	margin: 72px 90px 0 13px;
	.title_block {
		margin: 15px 0 72px;
	}
}
.program_block__text {
	font-size: 24px;
	font-family: 'arson_pro_light', sans-serif;
	color: #433534;
	line-height: 1.5;
	margin-bottom: 35px;
}
.program_block__table {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	width: 100%;
	max-width: 912px;
	-webkit-box-shadow: 6.359px 10.177px 240px 10px rgba(95, 86, 60, 0.23);
	box-shadow: 6.359px 10.177px 240px 10px rgba(95, 86, 60, 0.23);
}
.program_block__day_row {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 25%;
	height: 140px;
	padding: 35px 0px;
	overflow: hidden;
	border: solid 1px rgba(67, 53, 52, 0.3);
	border-top: none;
	border-left: none;
	background-color: #f5edd5;
	&:nth-child(4n) {
		border-right: none;
	}
	&:nth-child(17) {
		border-bottom: none;
	}
	&:nth-child(18) {
		border-bottom: none;
	}
	&:nth-child(19) {
		border-bottom: none;
	}
	&:nth-child(20) {
		border-bottom: none;
	}
}
.program_block__day_title {
	font-size: 16px;
	font-family: 'arson_pro_light', sans-serif;
	color: #ce4d4a;
	text-align: center;
	margin-bottom: 20px;
}
.program_block__day_descr {
	font-size: 14px;
	font-family: 'arson_pro_light', sans-serif;
	color: #433534;
	text-align: center;
}
.form_block {
	background-image: url(../images/form_bg.jpg);
	background-repeat: no-repeat;
}
.form_block__content {
	padding-top: 140px;
	padding-bottom: 195px;
	max-width: 1268px;
	>.title_block {
		font-size: 45px;
		font-family: 'BwSurcoDEMO-Bold', sans-serif;
		color: #433534;
		line-height: 1.5;
		text-align: left;
	}
}
.form_block__form {
	width: 100%;
	max-width: 490px;
	margin-top: 80px;
}
.form_block__lable {
	font-size: 14px;
	font-family: 'arson_pro_light', sans-serif;
	color: #756867;
	line-height: 2.143;
	text-align: right;
}
.form_block__input {
	background-color: #eee;
	width: 100%;
	height: 62px;
	border: none;
	outline: none;
	margin-top: 7px;
	margin-bottom: 12px;
	font-size: 18px;
	font-family: 'Arson_Pro_Medium', sans-serif;
	color: #000;
	line-height: 1.667;
	padding-left: 25px;
	&:valid {
		border: 1px solid #91a73b;
	}
}
.form_block__btn_block {
	border: 1px solid rgba(67, 53, 52, 0.4);
	width: 100%;
	max-width: 488px;
	height: 108px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 18px;
}
.form_block__btn {
	background-color: #91a73b;
	-webkit-box-shadow: 6.359px 10.177px 67.2px 2.8px rgba(37, 39, 26, 0.34);
	box-shadow: 6.359px 10.177px 67.2px 2.8px rgba(37, 39, 26, 0.34);
	width: 100%;
	max-width: 456px;
	height: 80px;
	font-size: 24px;
	font-family: 'BwSurcoDEMO-Medium', sans-serif;
	color: #fefefe;
	cursor: pointer;
	border: none;
	outline: none;
}
.important_block {
	margin-top: 120px;
}
.important_block__title {
	font-size: 48px;
	font-family: 'BwSurcoDEMO-Bold', sans-serif;
	color: #433534;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 27px;
}
.important_block__descr {
	font-size: 18px;
	font-family: 'arson_pro_light', sans-serif;
	color: #433534;
	line-height: 1.333;
	text-align: center;
}
.important_block__row {
	width: 100%;
	max-width: 1450px;
	margin: 0 auto;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 65px;
	position: relative;
}
.important_block__item_info {
	display: none;
	border-radius: 23px;
	background-color: #fff;
	box-shadow: 6.359px 10.177px 240px 10px rgba(95, 86, 60, 0.23);
	width: 100%;
	max-width: 500px;
	z-index: 1;
	padding: 43px 55px;
	position: absolute;
	&::before {
		position: absolute;
		content: '';
		left: -50px;
		bottom: 204px;
		transform: rotate(-5deg);
		border-bottom: 40px solid #ffffff;
		border-left: 56px solid transparent;
	}
}
.important_block__item_info.item_8 {
	top: -47px;
	right: 71px;
}
.important_block__item_info.item_15 {
	bottom: 235px;
	right: 315px;
	&::before {
		right: -39px;
		bottom: 90px;
		left: initial;
		transform: rotate(215deg);
	}
}
.important_block__item_info_title {
	font-size: 30px;
	font-family: 'GothaProBol', sans-serif;
	color: #000;
	line-height: 1.2;
}
.important_block__item_info_text {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	line-height: 1.667;
	margin-bottom: 15px;
	p {
		margin-top: 30px;
	}
}
.important_block__item {
	width: 278px;
	height: 183px;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 5px 14px 7px;
	position: relative;
	background-color: black;
	&:hover {
		background-image: none;
		.important_block__item_title {
			color: #747474;
		}
	}
	&:nth-child(3) {
		>.important_block__item_title {
			margin-top: 55px;
		}
	}
	&:nth-child(5) {
		>.important_block__item_title {
			margin-top: 55px;
		}
	}
	&:nth-child(8) {
		>.important_block__item_title {
			margin-top: 55px;
		}
	}
	&:nth-child(11) {
		>.important_block__item_title {
			margin-top: 55px;
		}
	}
	&:nth-child(14) {
		>.important_block__item_title {
			margin-top: 55px;
		}
	}
	&:nth-child(16) {
		>.important_block__item_title {
			margin-top: 55px;
		}
	}
	&:nth-child(4) {
		>.important_block__item_title {
			margin-top: 78px;
		}
	}
	&:nth-child(7) {
		>.important_block__item_title {
			margin-top: 78px;
		}
	}
	&:nth-child(9) {
		>.important_block__item_title {
			margin-top: 78px;
		}
	}
	&:nth-child(10) {
		>.important_block__item_title {
			margin-top: 78px;
		}
	}
	&:nth-child(15) {
		>.important_block__item_title {
			margin-top: 78px;
		}
	}
}
.important_block__item_title {
	text-align: center;
	font-size: 20px;
	font-family: 'GothaProBol', sans-serif;
	color: #fff;
	line-height: 1.2;
	margin-top: 65px;
	cursor: context-menu;
}
.important_block__item_1 {
	background-image: url(../images/card_1.jpg);
}
.important_block__item_2 {
	background-image: url(../images/card_2.jpg);
}
.important_block__item_3 {
	background-image: url(../images/card_3.jpg);
}
.important_block__item_4 {
	background-image: url(../images/card_4.jpg);
}
.important_block__item_5 {
	background-image: url(../images/card_5.jpg);
}
.important_block__item_6 {
	background-image: url(../images/card_6.jpg);
}
.important_block__item_7 {
	background-image: url(../images/card_7.jpg);
}
.important_block__item_8 {
	background-color: black;
}
.important_block__item_9 {
	background-image: url(../images/card_9.jpg);
}
.important_block__item_10 {
	background-image: url(../images/card_10.jpg);
}
.important_block__item_11 {
	background-image: url(../images/card_11.jpg);
}
.important_block__item_12 {
	background-image: url(../images/card_12.jpg);
}
.important_block__item_13 {
	background-image: url(../images/card_13.jpg);
}
.important_block__item_14 {
	background-image: url(../images/card_14.jpg);
}
.important_block__item_15 {
	background-image: url(../images/card_15.jpg);
}
.important_block__item_16 {
	background-image: url(../images/card_16.jpg);
}
.footer_block {
	background-color: #433534;
	margin-top: 144px;
	.fb {
		background-position: 0 -33px;
		&:hover {
			background-position: 0 0;
		}
	}
	.tg {
		background-position: -39px -33px;
		&:hover {
			background-position: -39px 0;
		}
	}
	.gm {
		background-position: -79px -33px;
		&:hover {
			background-position: -79px 0;
		}
	}
}
.footer_block__content {
	display: flex;
	position: relative;
}
.footer_block__soc_block {
	width: 106px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}
.footer_block__soc_link {
	background-image: url(../images/soc_ico.png);
	background-repeat: no-repeat;
	width: 27px;
	height: 27px;
	transition: all .5s;
}
.footer_block__logo {
	background-image: url(../images/footer_logo.png);
	position: absolute;
	right: 60px;
	top: 32px;
	width: 91px;
	height: 24px;
}
html {
	line-height: 1.15;
}
body {
	margin: 0;
}
main {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline dotted;
}
b {
	font-weight: bolder;
}
strong {
	font-weight: bolder;
}
code {
	font-family: monospace, monospace;
	font-size: 1em;
}
kbd {
	font-family: monospace, monospace;
	font-size: 1em;
}
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	bottom: -0.25em;
}
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}
img {
	border-style: none;
}
button {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow: visible;
	text-transform: none;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted;
	}
}
input {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow: visible;
}
optgroup {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
select {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	text-transform: none;
}
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow: auto;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	vertical-align: baseline;
}
details {
	display: block;
}
summary {
	display: list-item;
}
template {
	display: none;
}
[hidden] {
	display: none;
}
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	user-select: none;
	touch-action: pan-y;
	.slick-track {
		transform: translate3d(0, 0, 0);
	}
	.slick-list {
		transform: translate3d(0, 0, 0);
	}
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	&:focus {
		outline: none;
	}
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	&:before {
		display: table;
		content: '';
	}
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}
.slick-loading {
	.slick-track {
		visibility: hidden;
	}
	.slick-slide {
		visibility: hidden;
	}
}
.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
	img {
		display: block;
	}
}
[dir='rtl'] {
	.slick-slide {
		float: right;
	}
}
.slick-slide.slick-loading {
	img {
		display: none;
	}
}
.slick-slide.dragging {
	img {
		pointer-events: none;
	}
}
.slick-initialized {
	.slick-slide {
		display: block;
	}
}
.slick-vertical {
	.slick-slide {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}
.slick-arrow.slick-hidden {
	display: none;
}
@media screen and (min-width: 1366px) and (max-width: 1670px) {
	.learn_block__content {
		&::after {
			right: 0;
		}
	}
}
@media screen and (min-width: 1366px) and (max-width: 1599px) {
	.join_block__list {
		justify-content: space-evenly;
	}
	.join_block__item {
		&:first-child {
			margin: 0;
		}
		&:nth-child(3) {
			margin: 0;
		}
	}
	.learn_block__lists {
		ul {
			&:first-child {
				margin: 0 120px;
			}
		}
	}
	.program_block {
		padding-top: 0;
	}
	.program_block__left {
		max-width: 425px;
		margin-right: 5px;
	}
	.program_block__text {
		font-size: 21px;
	}
	.important_block__row {
		max-width: 1160px;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1365px) {
	.container {
		padding: 0 10px;
	}
	.pride_block {
		padding-left: 10px;
		padding-right: 10px;
	}
	.pride_block__main_title {
		margin-top: 20px;
	}
	.pride_block__attention_block {
		margin-top: 60px;
	}
	.join_block__list {
		justify-content: space-evenly;
	}
	.join_block__title {
		margin-top: 65px;
	}
	.join_block__item {
		&:first-child {
			margin: 0;
		}
		&:nth-child(3) {
			margin: 0;
		}
		width: 295px;
	}
	.learn_block__content {
		&::after {
			right: 0;
		}
	}
	.learn_block__lists {
		ul {
			&:first-child {
				margin: 0 45px 0px;
			}
		}
	}
	.leading_block__content {
		flex-wrap: nowrap;
	}
	.leading_block__name {
		margin-top: 0;
		margin-left: 80px;
	}
	.leading_block__list {
		margin: 0px 0 0 120px;
	}
	.leading_block__item {
		margin-bottom: 20px;
		padding-left: 0;
	}
	.program_block {
		padding-bottom: 60px;
	}
	.program_block__left {
		margin: 0;
		max-width: 100%;
	}
	.program_block__right {
		margin: 0 auto;
	}
	.form_block__form {
		padding-bottom: 20px;
	}
	.form_block {
		background-position: right;
	}
	.important_block__row {
		max-width: 1160px;
	}
	.important_block__item {
		margin: 0 15px 12px 0;
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
}
@media screen and (max-width: 1024px) {
	.pride_block {
		padding-top: 50px;
	}
	.container {
		padding: 0 10px;
	}
	.learn_block__content {
		padding: 0 10px;
	}
	.join_block__item {
		padding-bottom: 30px;
	}
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
	.title_block {
		font-size: 38px;
	}
	.pride_block {
		padding: 60px 10px;
	}
	.pride_block__main_title {
		font-size: 60px;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.pride_block__main_descr {
		width: initial;
	}
	.pride_block__attention_block {
		margin-top: 85px;
	}
	.join_block {
		margin-bottom: 100px;
	}
	.join_block__title {
		margin-left: 0px;
		margin-top: -10px;
	}
	.join_block__list {
		max-width: 768px;
		justify-content: space-evenly;
		margin: 40px auto 0;
	}
	.join_block__item {
		&:first-child {
			margin: 0;
		}
		&:nth-child(3) {
			margin: 0;
		}
	}
	.learn_block {
		margin-bottom: 240px;
		ul {
			&:first-child {
				margin-left: 55px;
			}
			&:last-child {
				margin-left: 55px;
			}
		}
	}
	.learn_block__content {
		.title_block {
			margin-left: 0;
			padding-top: 100px;
		}
		&::after {
			right: 0;
		}
	}
	.learn_block__lists {
		margin-top: 20px;
		li {
			margin-bottom: 25px;
			padding-left: 0px;
		}
	}
	.leading_block {
		margin-bottom: 0;
		.leading_block__left {
			img {
				position: initial;
				width: 300px;
			}
		}
		.leading_block__item {
			padding-left: 0;
			font-size: 19px;
			margin-bottom: 13px;
		}
	}
	.leading_block__content {
		flex-wrap: nowrap;
	}
	.leading_block__right {
		padding-left: 30px;
		padding-bottom: 0;
		.title_block {
			position: initial;
		}
	}
	.leading_block__list {
		margin-top: 0;
	}
	.leading_block__left {
		max-width: fit-content;
	}
	.leading_block__name {
		margin: 0;
		font-size: 30px;
	}
	.program_block {
		padding: 0;
	}
	.program_block__program_block {
		margin-top: 50px;
	}
	.program_block__left {
		margin-right: 0;
		max-width: initial;
	}
	.program_block__right {
		margin: 0 auto;
	}
	.form_block {
		margin-top: 30px;
	}
	.form_block__content {
		.title_block {
			font-size: 32px;
		}
	}
	.form_block__form {
		margin: 0 auto;
		padding-bottom: 15px;
	}
	.important_block {
		margin-top: 50px;
	}
	.important_block__row {
		justify-content: center;
	}
	.important_block__item_info.item_8 {
		top: 450px;
		right: 0;
	}
	.important_block__item_info.item_15 {
		bottom: 0;
		right: 0;
	}
	.important_block__item_info {
		&::before {
			content: none;
		}
	}
}
@media screen and (min-width: 1160px) and (max-width: 1599px) {
	.important_block__item_info.item_8 {
		top: 0;
		right: 310px;
	}
	.important_block__item_info {
		&::before {
			content: '';
			left: inherit;
			bottom: 204px;
			right: -30px;
			transform: rotate(225deg);
		}
	}
	.important_block__item_info.item_15 {
		bottom: 0;
		right: 595px;
	}
}
@media screen and (max-width: 767px) {
	.title_block {
		font-size: 34px;
	}
	.pride_block__main_title {
		font-size: 52px;
		margin-top: 25px;
	}
	.pride_block__attention_block {
		margin-top: 50px;
		padding: 30px 5px 5px;
		&::before {
			width: 90px;
			height: 110px;
			top: -62px;
			left: 200px;
		}
	}
	.join_block {
		margin-bottom: 40px;
	}
	.join_block__title {
		margin-left: 0;
		margin-top: 40px;
	}
	.join_block__list {
		justify-content: center;
		margin-top: 30px;
		flex-wrap: wrap;
	}
	.join_block__item__logo {
		text-align: center;
	}
	.join_block__item {
		&:first-child {
			margin: 0;
		}
		&:nth-child(3) {
			margin: 0;
		}
	}
	.join_block__item__text {
		margin-top: 0;
	}
	.learn_block {
		margin-bottom: 100px;
		.title_block {
			margin-left: 0;
			padding-top: 90px;
		}
		ul {
			margin: 0 0 0 40px;
			&:first-child {
				margin: 0 0 0 40px;
			}
		}
		li {
			margin-bottom: 20px;
			padding-left: 0;
		}
	}
	.learn_block__content {
		&::after {
			right: 0;
			height: 160px;
		}
	}
	.learn_block__lists {
		margin-top: 20px;
		padding-bottom: 40px;
	}
	.leading_block {
		margin-bottom: 0;
		.title_block {
			top: -515px;
		}
	}
	.leading_block__content {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.leading_block__left {
		padding-top: 10px;
		text-align: center;
		img {
			position: initial;
			width: 300px;
		}
	}
	.leading_block__right {
		padding-bottom: 0;
		.title_block {
			left: 0;
			margin-top: -50px;
		}
	}
	.leading_block__name {
		line-height: inherit;
		margin-top: 25px;
		margin-left: 0;
	}
	.leading_block__item {
		font-size: 17px;
		padding-left: 0;
		margin-bottom: 15px;
	}
	.program_block {
		padding: 0 0 10px 0;
	}
	.program_block__left {
		margin: 0;
		.title_block {
			margin: 30px 0;
		}
	}
	.program_block__text {
		font-size: 19px;
		margin-bottom: 5px;
	}
	.program_block__day_row {
		max-width: initial;
		border: none;
		border-bottom: 1px solid rgba(67, 53, 52, 0.3) !important;
		width: 100%;
		&:last-child {
			border-bottom: none !important;
		}
	}
	.form_block__content {
		padding: 25px 10px;
		>.title_block {
			font-size: 26px;
		}
	}
	.form_block__form {
		margin-top: 40px;
	}
	.form_block__btn {
		margin: 0 10px;
	}
	.important_block {
		font-size: 14px;
	}
	.important_block__item {
		background-size: cover;
		width: inherit;
		margin-right: 0;
		margin-left: 0;
	}
	.important_block__item_info {
		padding: 10px 5px;
		&::before {
			content: none;
		}
	}
	.important_block__item_info_title {
		font-size: 24px;
	}
	.important_block__item_info_text {
		font-size: 14px;
		p {
			margin-top: 5px;
		}
	}
	.important_block__item_info.item_8 {
		top: 1320px;
		right: 0;
	}
	.important_block__item_info.item_15 {
		bottom: 160px;
		left: 0;
	}
	.footer_block {
		margin-top: 0;
	}
	.footer_block__content {
		flex-direction: column;
		align-items: center;
	}
	.footer_block__logo {
		position: initial;
		margin-bottom: 20px;
	}
}
@media screen and (min-width: 320px) and (max-width: 480px) {
	.pride_block__text {
		margin: 15px;
	}
	.pride_block__main_title {
		margin: 15px;
	}
	.pride_block__main_descr {
		margin: 15px;
	}
	.pride_block__logo {
		margin: 15px;
	}
}
